body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    list-style-type: none;
    background-color: aliceblue;
    color: blue;
    height: 30px;
    margin: 0;
    font-size: 18px;
    padding: 10px;
}

li:first-child {
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
}

.logout {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

a {
    text-decoration: none;
}
